// ---------------------------------
// VARIABLES
// ---------------------------------
$accent-color: 			#0c6ff6;
$accent-gray: 			#1c242e;
$accent-light-gray: 	#f5f7fa;

// ---------------------------------
// MIXINS
// ---------------------------------

@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

@mixin prefix($property, $value) {
	$prefixes: moz, o, ms, webkit;
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
	// Output standard non-prefixed declaration
	#{$property}: $value;
}

@mixin centerX() {
	left:50%;
	transform:translateX(-50%) ;
}

@mixin centerY() {
	top:50%;
	transform:translateY(-50%);
}

@mixin placeholder {
  input::-webkit-input-placeholder {@content}
  input:-moz-placeholder           {@content}
  input::-moz-placeholder          {@content}
  input:-ms-input-placeholder      {@content}  
}

// ---------------------------------
// General Styles & Resets
// ---------------------------------

body {
	@include prefix(transition, opacity .4s ease);
}

a, .btn, button {
	display: inline-block;
	&:focus, &:hover, &:active {
		text-decoration: none;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-weight: 300;
   line-height: 1.1;
   color: inherit;
   margin:0;
}
h1 {font-size: 60px; margin-bottom:30px;}
h2 {font-size: 48px; margin-bottom:25px;}
h3 {font-size: 30px; margin-bottom:20px;}
h4 {font-size: 24px; margin-bottom:15px;}
h5 {font-size: 20px; margin-bottom:15px;}
h6 {font-size: 14px; margin-bottom:10px;}

.heading {
	margin-top:0;
	margin-bottom: 10px;
}

.subheading {
	color: #999;
	margin-top: 0;
	font-size: 18px;
}

p {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 40px;
}

p.large {
	font-size: 24px;
}

.offset-top {
	margin-top: 150px;
}

body, html {
	padding:0;
	margin:0;
	color:#000;
	font-family: 'Proxima';
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background: #f5f6fb;
}

.btn {
	display: inline-block;
	padding:11px 45px;
	border-radius: 30px;
	text-transform: uppercase;
	font-size: 14px;
	border:2px solid transparent;
	font-weight: 700;
	@include prefix(transition, all .3s ease);
	&:active, &.active {
		box-shadow: none;
	}
	&.btn-accent {
		border-color:$accent-color;
		color: #000;
		&:hover {
			color: #fff;
			background: $accent-color;
		}
	}
	&.btn-accent-white {
		border-color:$accent-color;
		color: #fff;
		&:hover {
			color: #fff;
			background: $accent-color;
		}
	}
	&.btn-icon {
		&.btn-icon-right {
			span {
				@include prefix(transform, translateX(5px));
				@include prefix(transition, transform .3s ease);
				display: inline-block;
			}
			.icon {
				font-size: 16px;
				position: relative;
				top:2px;
				display: inline-block;
				opacity: 0;
				@include prefix(transform, translateX(-2px));
				@include prefix(transition, transform .3s ease);
				color: inherit;
				width:10px;
				margin-left: 5px;
			}
		}
		&:hover {
			&.btn-icon-right {
				span {
					@include prefix(transform, translateX(0px));
				}
				.icon {
					opacity: 1;
					@include prefix(transform, translateX(0px));
				}
			}
		}
	}
}

.accent-splash {
	color: $accent-color;
}

.checklist {
	list-style: none;
	padding:0;
	margin:40px 0;
	li {
		display: block;
		font-size: 20px;
		margin-bottom: 20px;
		padding-left: 1em;
		text-indent: -.9em;
		margin-left:1em;
		&:before {
			content:'\52';
			font-family: ElegantIcons;
			display: inline-block;
			margin-right: 15px;
			color: $accent-color;
			position: relative;
			top:2px;
		}
	}
}

// Navigation

nav.navigation {
	padding:60px 30px;
	z-index:30;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	pointer-events:none;
	.menu-toggle {
		@include prefix(animation-delay, 1s);
		@include prefix(animation-name, fadeInRightShort);
		@include prefix(transition, all .3s ease);
		display: none;
		pointer-events:initial;
		span {
			display: block;
			width:36px;
			height: 3px;
			background: #000;
			margin-bottom:10px;
			@include prefix(transform-origin, 100% 50%);
			@include prefix(transition, transform .4s ease);
			&:nth-child(2) {
				@include prefix(transform, scaleX(.66));
			}
			&:nth-child(3) {
				@include prefix(transform, scaleX(.33));
			}
		}
		&:hover {
			span:nth-child(1) {@include prefix(transform, scaleX(1));}
			span:nth-child(2) {@include prefix(transform, scaleX(1));}
			span:nth-child(3) {@include prefix(transform, scaleX(1));}
		}
		&.active {
			span:nth-child(1) {
				@include prefix(transform-origin, 100% 50%);
				@include prefix(transform, rotate(-45deg) scaleX(1));
				@include prefix(transition-delay, 0s);
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				@include prefix(transform-origin, 100% 50%);
				@include prefix(transform, rotate(45deg) scaleX(1));
				@include prefix(transition-delay, 0s);
			}
		}
		&.inverted {
			span {
				background: #fff !important;
			}
		}
	}
	.nav-logo {
		@include prefix(animation-delay, 1s);
		@include prefix(animation-name, fadeInLeftShort);
		@include prefix(transition, all .3s ease);
		display: none;
		pointer-events:initial;
	}
}

// Menu :: main-menu
.menu-overlay {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(#fff, .9);
	@include prefix(animation-name, fadeIn);
	@include prefix(animation-duration, .3s);
	@include prefix(transform, translate3d(0,0,0));
	display: none;
	z-index:20;
	ul {
		list-style: none;
		li {
			display: inline-block;
		}
	}
	.nav-lang {
		position: absolute;
		width:100%;
		top:0;
		text-align: center;
		z-index: 30; // Over into navigation
		ul {
			padding:40px 0;
			li {
				a {
					font-size: 14px;
					font-weight: 700;
					letter-spacing:4px;
					color: #bbb;
					text-transform: uppercase;
					@include prefix(transition, color .4s ease);
					padding:30px 30px;
					&:hover {
						color: #000;
					}
				}
				&.active {
					a {
						color: #000;
					}
				}
			}
		}
	}
	.nav-center {
		position: absolute;
		width:100%;
		@include centerY();
		text-align: center;
		ul {
			padding:0;
			margin:0;
			li {
				margin:0 30px;
				a {
					font-size: 48px;
					font-weight: 300;
					color: #000;
					@include prefix(transition, color .4s ease);
					&:hover {
						color: $accent-color;
					}
				}
				&.active {
					a {
						color: $accent-color;
					}
				}
			}
		}
	}
	.nav-social {
		position: absolute;
		width:100%;
		text-align: center;
		bottom:0;
		ul {
			padding:40px 0;
			li {
				a {
					@include prefix(transition, all .3s ease);
					.text {
						font-size: 14px;
						font-weight: 700;
						letter-spacing:4px;
						color: #000;
						text-transform: uppercase;
						padding:30px 30px;
					}
					.fa {
						display: none;
					}
				}
			}
		}
	}
	&.sidebar { // Menu Sidebar :: sidebar-menu
		width:500px;
		right:0;
		left:auto;
		background: #111;
		display: block;
		box-shadow:0px 0px 30px 10px rgba(#000, .3);
		@include prefix(transition, transform .4s ease);
		@include prefix(transform, translateX(150%));
		&.active {
			@include prefix(transform, translateX(0%));
		}
		.nav-lang {
			bottom:0px;
			top:auto;
			width:100%;
			ul {
				padding:50px 0;
				margin-bottom: 0;
				li {
					a {
						font-size: 12px;
						padding:20px 20px;
						color: #444;
						&:hover {
							color: #fff;
						}
					}
					&.active {
						a {
							color: #fff;
						}
					}
				}
			}
		}
		.nav-social {
			bottom:auto;
			top:0;
			width:100%;
			ul {
				padding:50px 60px;
				text-align: left;
				li {
					display: inline-block;
					margin-right: 15px;
					a {
						font-size: 12px;
						color: #444;
						.text {
							display: none;
						}
						.fa {
							display: inline-block;
							font-size: 24px;
						}
						&:hover {
							color: #fff;
						}
					}
					&.active {
						a {
							color: #fff;
						}
					}
				}
			}
		}
		.nav-center {
			ul {
				li {
					display: block;
					margin:5px 0;
					@include prefix(transform, translateX(0px));
				opacity: 1;
					@include prefix(transition, all .3s ease);
					a {
						padding:10px 0;
						font-size: 30px;
						color: #444;
						display: inline-block;
						@include prefix(transition, all .3s ease);
						@include prefix(transition-delay, 0s);
						&:hover {
							color: #fff;
						}
					}
					&.active {
						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

// Intro :: intro

.intro {
	height: 100vh;
	width:100vw;
	top:0;
	background: #f5f6fb;
	@include prefix(transition, transform .4s ease);
	@include prefix(transition-delay, .5s);
	position: fixed;
	overflow: hidden;
	z-index: 0;
	#brain-svg {
		position: absolute;
		width:550px;
		top:50%;
		left:50%;
		transform:translateX(-50%) translateY(-50%);
		top:50%;
		left:50%;
		pointer-events:none;
	}
	&.active {
		@include prefix(transform, scale(.9));
		@include prefix(transition-delay, 0s);
	}
	#canvas-pulse {
		position: absolute;
		top:0;
		left:0;
	}
	.title {
		position: absolute;
		z-index:2;
		transform:translateX(-50%) translateY(-50%);
		top:50%;
		left:50%;
		cursor:default;
		.heading {
			font-size: 105px;
			font-weight: 200;
			color: #000;
			margin-bottom: 0;
			white-space:nowrap;
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, .5s);
		}
		.subheading {
			text-transform: uppercase;
			letter-spacing:3px;
			text-align: right;
			margin-right: -50px;
			color: #000;
			font-size: 15px;
			margin:0;
			@include prefix(animation-delay, .5s);
			@include prefix(animation-name, fadeInRightShort);
		}
	}
	.scroll-alert {
		position: absolute;
		bottom:60px;
		text-align: center;
		z-index:15;
		@include centerX();
		a {
			@include prefix(animation-delay, 1.3s);
			@include prefix(animation-name, fadeInDownShort);
			color: #000;
			.heading {
				font-size: 14px;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing:3px;
			}
			i.icon.scroll-icon {
				display:inline-block;
				width:26px;
				height: 38px;
				border-radius:20px;
				border:2px solid #000;
				position: relative;
				@include prefix(animation-name, nudge);
				@include prefix(animation-duration, 2s);
				&:before {
					content:'';
					position: absolute;
					left: 8px;
					top:7px;
					display:inline-block;
					width:6px;
					height: 6px;
					background: #000;
					border-radius: 50%;
					-webkit-animation-duration: 2s;
					  animation-duration: 2s;
					  -webkit-animation-fill-mode: both;
					  animation-fill-mode: both;
					  -webkit-animation-iteration-count: infinite;
  						animation-iteration-count: infinite;
  						@include prefix(animation-name, scrollDot);
				}
			}
		}
	}
	.project-overlay { // Project Overlay
		z-index:10;
		padding:60px 30px 0 30px;
		@include prefix(transition, all .2s ease);
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		height: 40%;
		&:before {
			background: #f6f7fb;
			@include prefix(transform, translate3d(0,0,0));
			box-shadow:0px 0px 150px 200px rgba(#f6f7fb,1);
			opacity: 0;
			content:'';
			position: absolute;
			width:100%;
			height: 100%;
			display: inline-block;
			@include prefix(transition, all .2s ease);
		}
		.container-fluid {
			position: absolute;
			bottom:0;
			width:100%;
		}
		a.close-overlay {
			position: absolute;
			display: inline-block;
			left:calc(50% - 20px);
			top:-100px;
			height: 40px;
			width:40px;
			display: none;
			@include prefix(animation-name, x-reveal);
			@include prefix(animation-duration, .5s);
			@include prefix(transition, transform .5s ease);
			span:nth-child(1) {
				top:calc(50% - 2px);
				@include prefix(transform, rotate(45deg));
				@include prefix(transform-origin, 50% 0%);
				@include prefix(transition, all .3s ease);
				width:40px;
				height: 3px;
				background: #000;
				display: inline-block;
				position: absolute;
			}
			span:nth-child(2) {
				top:calc(50% - 2px);
				@include prefix(transform, rotate(-45deg));
				@include prefix(transform-origin, 50% 100%);
				@include prefix(transition, all .3s ease);
				width:40px;
				height: 3px;
				background: #000;
				display: inline-block;
				position: absolute;
			}
			span:nth-child(3) {
				top:calc(50% - 2px);
				@include prefix(transition, all .3s ease);
				@include prefix(transform, rotate(90deg) translateX(-50%));
				width:40px;
				height: 3px;
				background: #000;
				display: inline-block;
				position: absolute;
				opacity: 0;
			}
			&:hover {
				span:nth-child(1) {
					@include prefix(transform, rotate(45deg) scaleX(.5) translateX(1px) translateY(10px));
				}
				span:nth-child(2) {
					@include prefix(transform, rotate(-45deg) scaleX(.5) translateX(0px) translateY(10px));
				}
				span:nth-child(3) {
					opacity: 1;
					@include prefix(transform, rotate(90deg) translateX(-15%) translateY(.5px));
				}
			}
		}
		.title-holder {
			position: relative;
			top:100px;
			display: none;
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 2s);
			@include prefix(animation-duration, .5s);
			.heading {
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 700;
				letter-spacing:2px;
				@include prefix(transform, translateY(30px));
				@include prefix(transition, all .4s ease);
			}
		}
		.subtitle-holder {
			@include prefix(transform, translateX(300px));
			@include prefix(transition, all .4s ease);
		}
		
		.project-title {
			margin:0 0 5px 0;
			font-weight: 300;
		}
		.project-view-more {
			display: block;
			text-transform: uppercase;
			color: #999999;
			font-weight: 300;
			margin-left: 120px;
		}
		.project-img {
			width:80%;
			margin:0 auto;
			display: block;
			bottom:0;
			position: relative;
			box-shadow:0 0 80px rgba(0, 0, 0, .1);
			@include prefix(transform, translateY(150%));
			@include prefix(transition, all .4s ease);
			@include prefix(transition-delay, 0s);
			&.project-img-1 {@include prefix(transition-delay, .15s);}
			&.project-img-2 {@include prefix(transition-delay, .3s);}
		}
		.project-description {
			position: relative;
			top:100px;
			font-size: 18px;
			font-weight: 300;
			display: none;
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-duration, .5s);
			.case-study-link {
				font-weight: 800;
				text-transform: uppercase;
				font-size: 13px;
				color: #000;
				border-bottom:2px solid $accent-color;
				letter-spacing:2px;
				margin-top: 20px;
			}
		}
		&.active {
			&:before {
				opacity: 1;
			}
			.project-img {
				@include prefix(transform, translateY(0%));
				@include prefix(transition, all .4s ease);
				&.project-img-1 {@include prefix(transition-delay, .15s);}
				&.project-img-2 {@include prefix(transition-delay, .3s);}
			}
			.title-holder {
				.heading {
					@include prefix(transform, translateY(0));
					@include prefix(transition, all .4s ease);
				}
				.subtitle-holder {
					@include prefix(transform, translateX(0));
					@include prefix(transition, all .4s ease);
				}
			}
		}
	}
	.animated {
		display: none;
	}
}

.section-title {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 800;
}

nav.navigation.sticky {
	position: fixed;
	z-index:1000;
	padding:30px 20px;
	@include prefix(transition, transform .2s ease);
	@include prefix(transform, translateY(-100%));
	&.active {
		@include prefix(transform, translateY(0%));
	}
	.logo-symbol {
		width:50px;
		display: block;
		pointer-events:none;
	}
	.menu-toggle {
		margin-top: 15px;
		display: block;
		&.active {
			span {
				background: #fff;
			}
		}
	}
}

// Sections :: section

section {
	z-index: 1;
	position: relative;
}

// Section Post Intro :: section-post-intro

section#post-intro {
	background: url('../img/agency.png') no-repeat center center;
	background-size: cover;
	padding:350px 0;
	&:before {
		@include linear-gradient(to right, #fff 0%, rgba(#fff, .9) 50%, rgba(#fff, 0) 75%);
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		content:'';
	}
	.section-title {
		margin-top: 10px;
	}
	.btn {
		margin-top: 50px;
	}
}

// Section Services :: section-services

section#services {
	background: #fff;
	.section-title {
		margin-bottom: 60px;
	}
	.services-description {
		position: absolute;
		top:0;
		padding:100px 60px;
		z-index: 5;
		pointer-events:none;
	}
	.services {
		.service {
			display: inline-block;
			padding:400px 0 200px 0;
			border-left:2px solid #f8fafc;
			overflow: hidden;
			position: relative;
			&:before {
				content:'';
				display: inline-block;
				width:100%;
				height:100%;
				border-radius:50%;
				box-shadow: 0px 0px 100px rgba(#e9eff6,1);
				position: absolute;
				top:0%;
				left:-100%;
				opacity: 0;
				@include prefix(transition, opacity .5s ease);
			}
			&:hover:before {
				opacity: 1;
			}
			&:after {
				content:'';
				display: inline-block;
				width:100%;
				height:100%;
				position: absolute;
				top:0%;
				left:0%;
				opacity: 1;
				z-index:1;
			}
			.service-title {
				margin-bottom: 15px;
				@include prefix(transition, color .4s ease);
				color: #000;
				position: relative;
				z-index: 2;
				padding:0 60px;
			}
			.service-description {
				color: #999;
				font-size: 18px;
				position: relative;
				z-index: 2;
				padding:0 60px;
			}
			.service-icon {
				display: inline-block;
				position: relative;
				z-index: 0;
				width:60px;
				top:100px;
				float: right;
				margin-right: 100px;
			}
			.service-img {
				opacity: .3;
				@include prefix(transition, opacity .4s ease);
			}
			.service-img.dev {
				width:230px;
				margin-top: 80px;
			}
			.service-img.des {
				width:200px;
				margin-top: 80px;
			}
			.service-img.cons {
				width:120px;
				margin-top: 80px;
			}
			&:hover {
				.service-img {
					opacity: 1;
				}
			}
			&:hover {
				.service-title {
					color: $accent-color;
				}
			}
		}
	}
}

// Section Work :: section-selected-work

section#selected-work {
	padding:100px 0;
	background: #fff;
	.btn {
		margin-top: 15px;
	}
	.top {
		padding:100px 0;
		.section-title {
			margin-bottom: 30px;
		}
	}
	.project-grid {
		.project-item {
			position: relative;
			display: inline-block;
			margin-bottom: 15px;
			.project-img {
				width:100%;
			}
			.project-overlay {
				position: absolute;
				top:0px; 
				left:15px;
				width:calc(100% - 30px);
				height:100%;
				opacity: 0;
				background: rgba($accent-gray, .95);
				@include prefix(transition, opacity .4s ease);
				&:not(.alt-type) .content {
					@include centerY();
				}
				.content {
					position: absolute;
					text-align: center;
					width:100%;
					ul.categories {
						list-style: none;
						margin:0;
						padding:0;
						@include prefix(transition, all .3s ease);
						@include prefix(transition-delay, 0s);
						@include prefix(transform, translateY(15px));
						opacity: 0;
						li {
							display: inline-block;
							&:not(:last-child):after {
								content:'/';
								color: #fff;
								letter-spacing:8px;
								font-weight: 800;
								font-size: 13px;
								display: inline-block;
								margin:0 15px;
							}
							a {
								color: #fff;
								letter-spacing:8px;
								font-weight: 800;
								font-size: 13px;
								text-transform: uppercase;
							}
						}
					}
					.project-title {
						color: #fff;
						margin-top: 15px;
						margin-bottom: 0;
						opacity: 0;
						@include prefix(transition, all .3s ease);
						@include prefix(transform, translateY(15px));
					}
				}
				&:hover {
					.content {
						ul.categories {
							@include prefix(transition-delay, .25s);
							@include prefix(transform, translateY(0px));
							opacity: 1;
						}
						.project-title {
							@include prefix(transform, translateY(0px));
							opacity: 1;
						}
					}
				}
			}
			.project-overlay.alt-type {
				.content {
					left:30px;
					bottom:30px;
					text-align: left;
					ul.categories {
						li {
							a {
								font-size: 10px;
								font-weight: 700;
							}
						}
					}
				}
				.arrow {
					display: inline-block;
					position: absolute;
					top:30px;
					right:30px;
					width:40px;
					height: 40px;
					opacity: 0;
					@include prefix(transition-delay, 0s);
					@include prefix(transition, all .3s ease);
					@include prefix(transform, translateY(10px) translateX(-10px));
					span {
						position: absolute;
					}
					span:nth-child(1) {
						width:50%;
						top:0;
						right:0;
						height: 2px;
						background: #fff;
						display: inline-block;
					}
					span:nth-child(2) {
						width:100%;
						top:0;
						right:0;
						height: 2px;
						background: #fff;
						display: inline-block;
						@include prefix(transform-origin, 100% 50%);
						@include prefix(transform, rotate(-45deg));
					}
					span:nth-child(3) {
						width:2px;
						top:0;
						right:-1;
						height: 50%;
						background: #fff;
						display: inline-block;
					}
				}
				.project-title {
					color: #fff;
					margin-top: 10px;
					margin-bottom: 0;
					font-size: 36px;
				}
			}
			&:hover {
				.project-overlay {
					opacity: 1;
						.arrow {
							opacity: 1;
							@include prefix(transition-delay, .25s);
							@include prefix(transform, translateY(0px) translateX(0px));
					}
				}
			}
		}
	}
}

// Section Clients :: section-clients

section#clients {
	padding:100px 0;
	background: $accent-light-gray;
	.btn {
		margin-top: 15px;
	}
	.top {
		padding:100px 0;
		.section-title {
			margin-bottom: 10px;
		}
	}
	.clients-slider {
		height:300px;
		margin-top: 200px;
		.owl-item {
			display: table;
			height:100%;
			position: relative;
			text-align: center;
			.client {
				vertical-align: middle;
				position: relative;
				margin-top: 50px;
				@include prefix(transform, translateY(-50%));
				display: inline-block;
				img {
					vertical-align: middle;
					width:200px;
					@include grayscale_element(100%);
			    	@include prefix(transition, all .3s ease);
			    	opacity: .75;
				}
			}
			&:hover {
				img {
					@include grayscale_element(0);
					opacity: 1;
				}
		    }
		    &.active {
		    	img {
					@include grayscale_element(0);
					opacity: 1;
				}
				&:after {
					opacity: 1;
				}
		    }
		    &:after {
				content:'';
				width:50px;
				height: 50px;
				background: #fff;
				position: absolute;
				bottom:-30px;
				left:calc(50% - 25px);
				@include prefix(transform, rotate(45deg));
				@include prefix(transition, all .4s ease);
				display: inline-block;
				opacity: 0;
			}
		}
	}
	.testimonials-holder {
		background: #fff;
		padding:150px 0;
		.section-title {
			margin-bottom: 120px;
		}
		.testimonials-slider {
			.testimonial {
				.quote-author {
					font-weight: 500;
					margin-top: 50px;
					.role {
						color: #999;
						font-weight: 300;
						display: inline-block;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

// Section Pre Footer :: section-pre-footer

section#pre-footer {
	background: $accent-light-gray;
	padding-top:300px;
	text-align: center;
	.pre-footer-title {
		margin-bottom: 10px;
	}
	.btn {
		margin-top: 25px;
		margin-bottom: 200px;
	}
	.planner-img {
		display: block;
		margin:0 auto;
		width:80%;
	}
}

.dial-holder {
	margin-bottom:20px;
	display: inline-block !important;
}

p.slider-counter {
	span {
		font-size: 48px;
		color: #999;
		position: relative;
		display: inline-block;
		font-weight: 300;
	}
	.slider-current {
		color: #000;
	}
	.divider {
		top:20px;
		left:10px;
	}
	.slider-length {
		top:40px;
		left:20px;
	}
}

// Footer :: footer

footer {
	background: #111;
	z-index:0;
	position: fixed;
	bottom:0;
	width:100%;
	left:0;
	padding:100px 0 40px 0;
	.footer-menu {
		ul {
			list-style: none;
			margin:0;
			padding:0;
			li {
				display: inline-block;
				margin-right: 25px;
				a {
					font-size: 16px;
					color: #444;
					@include prefix(transition, color .3s ease);
					&:hover {
						color:#fff;
					}
				}
			}
		}
	}
	.footer-logo {
		width:80px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top:-30px;
	}
	.footer-social {
		ul {
			list-style: none;
			margin:0;
			padding:0;
			li {
				display: inline-block;
				margin-left: 15px;
				&.copyright {
					color: #444;
					font-size: 18px;
				}
				a {
					font-size: 18px;
					display: inline-block;
					padding:0 5px;
					color: #444;
					@include prefix(transition, color .3s ease);
					&:hover {
						color:#fff;
					}
				}
			}
		}
	}
}

// Responsive :: responsive
@media(max-width:1024px) {
	h1 {font-size: 32px; margin-bottom:30px;}
	h2 {font-size: 26px; margin-bottom:25px;}
	h3 {font-size: 20px; margin-bottom:20px;}
	h4 {font-size: 18px; margin-bottom:15px;}
	h5 {font-size: 16px; margin-bottom:15px;}
	h6 {font-size: 14px; margin-bottom:10px;}

	.text-center-collapse {
		text-align: center 	!important;
		.text-left, .text-right {
			text-align: center !important;
		}
	}

	nav.navigation.sticky {
		background: #fff;
		box-shadow: 0px 0px 20px rgba(0,0,0,.15);
	}
	.intro {
		.title {
			text-align: center;
			.heading {
				font-size: 69px;
				text-align: center;
				margin-bottom: 10px;
			}
			.subheading {
				font-size: 12px;
				font-weight: 500;
				text-align: center;
			}
		}
		.project-overlay {
			display: none;
		}
	}
	section#post-intro {
		padding:200px 50px;
		&:before {
			@include linear-gradient(to right, #fff 0%, rgba(#fff, .7) 80%, rgba(#fff, 0) 100%);
		}
	}
	section#services {
		padding:0;
		.services-description {
			position: relative;
		}
		.services {
			.service {
				padding:30px 0;
				border:0;
				.service-title {
					padding:0;
				}
				.service-description {
					padding:0;
				}
			}
		}
	}
}

@media(max-width:768px) {
	.intro {
		.title {
			text-align: center;
			.heading {
				font-size: 62px;
				text-align: center;
				margin-bottom: 0px;
			}
			.subheading {
				font-size: 16px;
				text-align: right;
			}
		}
		#brain-svg {
			width:300px;
		}
	}
	nav.navigation.sticky, nav.navigation.fixed-top {
		padding:15px 0;
		width:100vw;
	}
	.project-item {
		img {
			width:100%;
		}
	}
}

// Careers :: careers
body.page {
	nav.navigation.sticky {
		@include prefix(transform, none !important);
		&.inverted {
			background:transparent !important;
			box-shadow:none !important;
		}
	}
	section#careers-intro {
		padding:0px 150px;
		width:100%;
		height: 100vh;
		position: relative;
		background:url('../img/careers_intro.png') no-repeat center center;
		background-size:cover;
		.height-v {
			position: relative;
			height:100%;
		}
		.section-title {
			color: #fff;
			position: relative;
			top:30%;
		}
		.careers-title {
			color: #fff;
			margin-top: 0;
			position: absolute;
			top:30%;
			margin-left: 40px;
		}
		.level-holder {
			border-left:1px solid rgba(#fff, .05);
			position: relative;
			height:100%;
			padding:0 40px 0 40px;
		}
		.multi-level-menu {
			position: relative;
			top:30%;
			margin-top:250px;
		}
		.career-options {
			position: relative;
			.level-one {
				ul {
					list-style: none;
					padding:0;
					margin: 0;
					li {
						margin:20px 0;
						a {
							color: #fff;
							opacity:.2;
							@include prefix(transition, opacity .3s ease);
							display: block;
							font-size: 24px;
							font-weight: 300;
						}
						&:hover, &.active {
							a {
								opacity: 1;
							}
						}
					}
				}
			}
			.level-two {
				.level-menu-back {
					display: none;
					color: #fff;
					font-size: 22px;
				}
				ul {
					list-style: none;
					padding:0;
					margin: 0;
					display: none;
					@include prefix(animation-name, levelMenuFadeIn);
					@include prefix(animation-duration, .5s);
					&.active {
						display: block;
					}
					li {
						margin:20px 0;
						a {
							color: #fff;
							opacity:.2;
							@include prefix(transition, opacity .3s ease);
							display: block;
							font-size: 20px;
							font-weight: 300;
							&:after {
								font-family:ElegantIcons;
								content:"\35";
								display: inline-block;
								float: right;
								opacity: 0;
								@include prefix(transition, opacity .4s ease);
							}
						}
						&:hover {
							a {
								opacity: 1;
								&:after {
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
	section#careers {
		background: #fff;
		padding:200px 100px;
	}
	section#work-with-us {
		.container-fluid {
			position: relative;
		}
		padding:0 100px;
		.work-with-us-title {
			position: absolute;
			left:calc(9% + 40px);
			margin-top:200px;
			z-index:1;
		}
		.info {
			.number {
				padding-top:400px;
				text-align: center;
				span {
					font-size: 18px;
					color: #000;
				}
			}
			.text {
				border-left:1px solid #eeeff4;
				padding-top:400px;
				padding-left:40px;
				padding-bottom: 100px;
				.title {
					font-size: 30px;
				}
				.description {
					color: #999999;
					font-size: 16px;
				}
			}
		}
	}
	.contact-section-holder {
		padding-left:0;
		padding-right: 0;
		section#contact {
			padding:300px 0 100px 200px;
			.section-title {
				margin-bottom: 60px;
			}
			p.terms-and-conditions {
				font-size: 18px;
				color: #999;
				margin-top: 50px;
				a {
					color: $accent-color;
				}
			}
			.form-group {
				position: relative;
				.form-control {
					border-radius: 0;
					border:0;
					border-bottom:2px solid #ddd;
					background: transparent;
					box-shadow: none;
					font-size: 30px;
					height:auto;
					padding:10px 0;
					margin-bottom: 30px;
					width:60%;
					color: #000;
					@include prefix(transition, border-color .4s ease);
					&:focus {
						border-color: $accent-color;
					}
				}
				&.form-group-error {
					.form-control {
						color: #f02c2c;
						border-color: #f02c2c;
						width:100%;
						padding-right: 50%;
					}
					span.error-message {
						position: absolute;
						top:30px;
						right:10px;
						font-size: 18px;
						color: #999;
					}
				}
			}
		}
	}
	.upload-section-holder {
		padding-left:0;
		padding-right: 0;
		background: #fff;
		section#upload {
			padding:300px 0 200px 0px;
			.inner {
				padding:0 200px;
				.upload-box {
					border:2px dashed #bbb;
					width:100%;
					text-align: center;
					padding:50px 30px;
					margin:50px 0;
				}
				.uploaded-files {
					list-style: none;
					padding:0;
					margin:0;
					li {
						font-size: 16px;
						padding:15px 0;
						.file-name {
							color: #000;
						}
						.file-extension {
							color: #bbb;
						}
						&:not(:last-child) {
							border-bottom:1px solid #ddd;
						}
					}
				}
			}
		}
	}
	form.contact-form {
		.submit-button {
			border:none;
			background: $accent-color;
			color: #fff;
			font-size: 48px;
			padding:100px 40px;
			font-weight: 300;
		}
	}
	@media(max-width:1400px) {
		#careers-intro {
			.section-title {
				top:20%;
			}
			.careers-title {
				top:20%;
			}
			.multi-level-menu {
				top:20%;
				margin-top: 200px;
			}
		}
	}
	@media(max-width:1199px) {
		#careers-intro {
			padding:100px 100px;
			height:auto;
			.height-v {
				height:auto;
			}
			.section-title {
				top:auto;
				margin-bottom: 25px;
			}
			.careers-title {
				top:auto;
				margin-left: 0;
				position: relative;
			}
			.multi-level-menu {
				margin-top: 50px;
			}
			.level-holder {
				border:none;
				padding:0 20px;
				height:auto;
			}
		}
	}
	@media(max-width:991px) {
		#careers-intro {
			.level-holder {
				&.level-holder-one {
					opacity: 0;
					pointer-events:none;
					@include prefix(transition, opacity .4s ease);
					&.active {
						opacity: 1;
						pointer-events:all;
					}
					.level-one {
						ul li {
							&.active {
								opacity: .2 !important;
							}
						}
					}
				}
				&.level-holder-two {
					top:0;
					position: absolute;
					display: none;
					@include prefix(animation, fadeIn);
					@include prefix(animation-duration, .4s);
					&.active {
						display: block;
					}
					.level-two {
						.level-menu-back {
							display: inline-block;
							margin-top: -40px;
						}
						ul {
							margin-top: -20px;
						}
					}
				}
				&.level-holder-three {
					margin-top: 100px;
				}
			}
		}
	}
}


.form-control::-webkit-input-placeholder {
   color: #bbb !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #bbb !important;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #bbb !important;  
}

.form-control:-ms-input-placeholder {  
   color: #bbb !important;  
}