nav.navigation.sticky
	.container-fluid
		.row
			.col-xs-6
				a(href="#").nav-logo.animated
					object(data="img/logo_symbol.svg" type="image/svg+xml").logo-symbol
			.col-xs-6.text-right
				a.menu-toggle(href="#").animated
					span
					span
					span

.menu-overlay
	.nav-top.nav-lang
		ul
			li.active
				a(href="#") English
			li
				a(href="#") Deutsch
	.nav-center.nav-site
		ul
			li.active
				a(href="#") Home
			li
				a(href="#") Studio
			li
				a(href="#") Services
			li
				a(href="#") Showcase
			li
				a(href="#") Contact
			li
				a(href="#") Planner
			li
				a(href="#") Careers
	.nav-bottom.nav-social
		ul
			li
				a(href="#") 
					i.fa.fa-linkedin
					span.text LinkedIn
			li
				a(href="#")
					i.fa.fa-facebook
					span.text Facebook
			li
				a(href="#")
					i.fa.fa-instagram
					span.text Instagram

script(src="js/lib.js")
script(src="js/main.js")