meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
link(rel="stylesheet" href="fonts/proxima-fonts.css")
link(rel="stylesheet" href="css/lib.css")
link(rel="stylesheet" href="css/main.css")