extends templates/page.pug

block content
	section#careers-intro
		.container-fluid.height-v
			.row.height-v
				.col-lg-2.col-md-12.height-v
					h6.section-title Careers
				.col-lg-10.col-md-12.height-v
					h1.careers-title Be a change you want to see in the world
					.career-options
						.row
							.col-md-4.level-holder.level-holder-one
								.level-one.multi-level-menu
									ul
										li.active
											a(href="#" data-menu="#menu-1") Development
										li
											a(href="#" data-menu="#menu-2") Design
										li
											a(href="#" data-menu="#menu-3") Management
										li
											a(href="#" data-menu="#menu-4") Digital Advertising
										li
											a(href="#" data-menu="#menu-5") Project Management
							.col-md-4.level-holder.level-holder-two
								.level-two.multi-level-menu
									a(href="#").level-menu-back
										i.icon.arrow_left
									ul#menu-1.active
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
									ul#menu-2
										li
											a(href="#").career-scroll Lead Designer
										li
											a(href="#").career-scroll Senior Designer
									ul#menu-3
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
									ul#menu-4
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
									ul#menu-5
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
							.col-md-4.level-holder.level-holder-three
								.level-two.multi-level-menu
									a.btn.btn-accent-white.btn-icon.btn-icon-right.career-scroll(href="#")
										span You're a student?
										i.icon.arrow_carrot-right
	section#careers.navigation-invert
		.container-fluid
			.row
				.col-lg-2
					h6.section-title Position
				.col-lg-7
					h1.heading Software Engineer
					h5.subheading Novi Sad, Serbia
					p.large.offset-top.text-justify Our Software Engineers are both generalists and problem solvers who love playing with new languages and frameworks. They’re talented and passionate technologists who are interested in learning new things every day. We currently have teams working with Java, C#, Python, Ruby, PHP, Objective-C and/or JavaScript, and our products and clients are as diverse as the tools we are using. It doesn’t matter if you are savvy in Scala or Go, or proficient in Java, we’re equally excited to work with you.
					p.text-justify Software engineers work in a very collaborative environment where cross-functional teams work closely together in order to get things done. They work to maintain an ego-free environment where talent matters more than title, and know the big idea can come from anyone and anywhere. Having an entrepreneurial spirit is as important as being a team member, and our Engineers are never afraid to wear multiple hats.
					p.text-justify We love to iterate and make things better over time. Having decent processes in place and knowing how to deliver software is important. Lean principles, test driven development and continuous integration matter to us. We are looking for someone who gets equally excited about those things and knows about agile best practices.
					p.text-justify You will be able to work in a variety of client settings and platforms and collaborate in a smart environment where you can bring in your ideas. There is plenty of room to grow at Codemind.
			.row.offset-top
				.col-lg-2
					h6.section-title Requirements
				.col-lg-7
					h1.heading What we'd like to see
					h6.subheading Every additional skill is highly respected.
					ul.checklist
						li 2+ years professional programming experience, including the development of backend software for websites.
						li Experience developing, writing and delivering elegant and clean code in Java, C#, Python, Ruby, Scala or any other language.
						li A familiarity with agile methodologies, such as Lean, Extreme Programming (XP) and/or Scrum. We’re a team-oriented and collaborative environment that practices collective code ownership and pair programming.
						li Ability to work in a variety of client settings and across platforms.
						li Excellent problem solving skills, a love for technical challenges, and a willingness to learn.
						li Experience with databases and HTML, CSS, JavaScript.
	section#work-with-us
		.container-fluid
			.row
				h1.work-with-us-title Why you should work with us?
				.col-md-4.info
					.row
						.col-md-3.number
							span 1
						.col-md-9.text
							h4.title Dynamic work environment
							p.description With various projects and playful atmosphere you’ll never have a dull moment.
				.col-md-4.info
					.row
						.col-md-3.number
							span 2
						.col-md-9.text
							h4.title Absolutely no B teams.
							p.description Every person in our team is important equally. We appreciate team work and keep good relationships.
				.col-md-4.info
					.row
						.col-md-3.number
							span 3
						.col-md-9.text
							h4.title Professional Development
							p.description Development is important to all of us, and we love to help each other in pursuit of happiness.
	form.contact-form
		.container-fluid
			.row
				.col-lg-6.contact-section-holder.v-height-eq
					section#contact
						.inner
							h6.section-title Apply Now
							.form-group
								input.form-control(type="text" placeholder="Name" value="Srdjan")
							.form-group.form-group-error
								input.form-control(type="text" placeholder="Email Address" value="srdjan@codemind")
								span.error-message Invalid email address. Try again.
							.form-group
								input.form-control(type="text" placeholder="Phone")
							.form-group
								input.form-control(type="text" placeholder="LinkedIn Profile")
							.form-group
								input.form-control(type="text" placeholder="Website")
							.row
								.col-md-10
									p.terms-and-conditions By pressing 
										b Submit application 
										| you accept our 
										a(href="#") Privacy and policy 
										|. Also, all files submitted using this planer are protected by 
										a(href="#") NDA 
										| which you accept from this moment by submitting this form.
				.col-lg-6.upload-section-holder.v-height-eq
					section#upload
						.inner
							h2.heading CV Upload
							h6.subheading Upload your CV or any other profession related document
							.upload-box
								h4.heading Drag & drop your files here
								h6.subheading max file size: 20MB
							ul.uploaded-files
								li
									span.file-name Srdjan_CV
									span.file-extension .pdf
								li
									span.file-name List_of_awards
									span.file-extension .pdf
				button.col-md-12.submit-button(type="submit") Submit application