extends templates/home.pug

block content
		nav.navigation.fixed-top
			.container-fluid
				.row
					.col-xs-6
						a(href="#").nav-logo.animated
							img(src="img/logo_typography.svg" alt="").logo-typography
					.col-xs-6.text-right
						a.menu-toggle(href="#").animated
							span
							span
							span
		.intro(onselectstart="return false;")
			canvas#canvas-pulse(width="1000" height="500")
			object(type="image/svg+xml",data="img/brain.svg")#brain-svg
			.title
				h1.heading.animated Mindfulness at its best.
				h6.subheading.animated Software studio based in the hearth of 
					b Serbia
			.scroll-alert
				a(href="#").animated
					i.icon.scroll-icon.animated.infinite
			.project-overlay
				.container-fluid
					.row
						.col-md-3
							.title-holder
								h6.heading Latest Project
								.subtitle-holder
									h3.project-title Cupris Health
									a(href="#").project-view-more View More 
						.col-md-3
							p.project-description.toAnimate The focus is on delivering standards-based web applications utilizing the latest industry trends. 
								a.case-study-link(href="#") Case Study
						.col-md-3
							img.project-img.project-img-1(src="img/featured_project1.jpg" alt="")
						.col-md-3
							img.project-img.project-img-2(src="img/featured_project2.jpg" alt="")
		section#post-intro.post-intro
			.container-fluid
				.row
					.col-lg-1.col-lg-offset-1
						h6.section-title Studio
					.col-lg-5.col-sm-8
						h1 We're a team of thinkers, makers, explorers, creators and superheroes
							span.accent-splash .
						p Taking on thought-provoking projects that challenge us creatively and make us go the extra mile is what we consider a way of life. We are relentless in moving boundaries and carry out this spirited attitude into digital solutions. Digital solutions that engage, inspire and make you think. 
							b Make you curious.
						a.btn.btn-accent.btn-icon.btn-icon-right(href="#")
							span About Studio
							i.icon.arrow_carrot-right
		section#services
			.container-fluid
				.row
					.col-lg-10.col-lg-offset-1.col-md-12
						.services-description
							.col-md-10
								h6.section-title Services
								h3.section-description We build products that make people better at their most important work - the kind of work you read about on the front page of the newspaper, not just the technology section.
						.services
							a(href="#").col-md-4.service
								h1.service-title Development
								p.service-description The focus is on delivering standards-based web applications utilizing the latest industry trends. 
								img(src="img/services/1.png" alt="").service-img.dev
								object(type="image/svg+xml",data="img/services/arrow.svg").service-icon
							a(href="#").col-md-4.service
								h1.service-title Design
								p.service-description Look and feel of your digital product, together with the user experience will make or break your product's success.
								img(src="img/services/2.png" alt="").service-img.des
								object(type="image/svg+xml",data="img/services/arrow.svg").service-icon
							a(href="#").col-md-4.service
								h1.service-title Consulting
								p.service-description The first impression is the lasting one. That is why we take the design of your brand seriously and with great care.
								img(src="img/services/3.png" alt="").service-img.cons
								object(type="image/svg+xml",data="img/services/arrow.svg").service-icon
		section#selected-work
			.container-fluid
				.row
					.col-md-10.col-md-offset-1.top.text-center-collapse
						.col-md-12
							h6.section-title Selected Work
						.col-lg-8
							h1 You'll look better with us.
						.col-lg-4.text-right
							a.btn.btn-accent.btn-icon.btn-icon-right(href="#")
								span Showcase
								i.icon.arrow_carrot-right
					.col-md-10.col-md-offset-1
						.project-grid
							.col-md-6.project-item.col-sm-12.col-xs-12
								img.project-img(src="img/projects/1.png" alt="")
								.project-overlay
									.content
										ul.categories
											li
												a(href="#") Website
											li
												a(href="#") Mobile App
										a(href="#")
											h1.project-title Heap Investment
							.col-md-6.project-item.col-sm-12.col-xs-12
								img.project-img(src="img/projects/2.png" alt="")
								.project-overlay
									.content
										ul.categories
											li
												a(href="#") Ios App
											li
												a(href="#") Android App
										a(href="#")
											h1.project-title GoPro Discovery
							.col-md-3.project-item.col-sm-6.col-xs-12
								img.project-img(src="img/projects/3.png" alt="")
								.project-overlay.alt-type
									.content
										ul.categories
											li
												a(href="#") Website
										a(href="#")
											h1.project-title Bosch Enterprise
									a(href="#").arrow
										span
										span
										span
							.col-md-3.project-item.col-sm-6.col-xs-12
								img.project-img(src="img/projects/4.png" alt="")
								.project-overlay.alt-type
									.content
										ul.categories
											li
												a(href="#") Website
										a(href="#")
											h1.project-title Bosch Enterprise
									a(href="#").arrow
										span
										span
										span
		section#clients
			.container-fluid
				.row
					.col-md-10.col-md-offset-1.top
						.col-md-6
							h6.section-title We've created for
							h1 Strong Brands
						.col-md-6.text-left
							p After years of evolution in the digital space, we've produced cutting-edge creative for start ups and Fortune 500 companies spanning tech, e-commerce, hospitality, healthcare, and beyond.
					.col-md-10.col-md-offset-1
						.clients-slider
							a(href="#").client
								img(src="img/clients/1.png" alt="")
							a(href="#").client
								img(src="img/clients/2.png" alt="")
							a(href="#").client
								img(src="img/clients/3.png" alt="")
							a(href="#").client
								img(src="img/clients/4.png" alt="")
							a(href="#").client
								img(src="img/clients/5.png" alt="")
							a(href="#").client
								img(src="img/clients/6.png" alt="")
					.col-md-12.testimonials-holder
						.col-md-10.col-md-offset-1
							.col-md-6
								input(type="text" class="dial" value="30")
								h6.section-title Testimonial
							.col-md-6.text-right
								p.slider-counter
									span.slider-current 5
									span.divider /
									span.slider-length 12
						.testimonials-slider
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Googl
		section#pre-footer
			.container-fluid
				.row
					.col-md-12
						h1.pre-footer-title Ready to collaborate with us?
						a.btn.btn-accent.btn-icon.btn-icon-right(href="#")
							span Let's Plan Your Project
							i.icon.arrow_carrot-right
						img(src="img/Planner_CTA.png" alt="").planner-img
		footer
			.container-fluid
				.row
					.col-md-10.col-md-offset-1
						.col-md-5
							.footer-menu
								ul
									li
										a(href="#") Home
									li
										a(href="#") Studio
									li
										a(href="#") Process
									li
										a(href="#") Showcase
									li
										a(href="#") Contact
									li
										a(href="#") Planner
									li
										a(href="#") Careers
						.col-md-2.text-center
							img(src="img/footer_logo.svg" alt="").footer-logo
						.col-md-5.text-right
							.footer-social
								ul
									li.copyright &copy; 2016 Codemind
									li
										a(href="#")
											i.fa.fa-linkedin
									li
										a(href="#")
											i.fa.fa-facebook
									li
										a(href="#")
											i.fa.fa-instagram